@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;600&display=swap');
:root {
    background-color: #000;
    color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Quick Class Attributes */
body {
    height: 100vh;
}

.align-center {
    align-self: center;
}
 
.align-items-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: start;
}

.justify-center {
    justify-content: center;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-between {
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

/* holds all page content */
.wrap {
    display: flex;
    height: 100vh;
    width: 100vw;
}
/* all box-shadows */
.box-shadow {
    box-shadow: 0rem 0rem 2rem rgba(12, 0, 50, 50%);
}
/* background animation gradient */
.bg-gradient {
    background: linear-gradient(-45deg, #42275a, #734b6d, #bdc3c7, #2c3e50);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}
/* rounded card holding content */
.page-container {
    height: 18rem;
    width: 18rem;
    align-content: center;
    margin: auto;
    padding: 3rem 0;
    border-radius: 3rem;
}
/* gives margin to every element within the container */
.page-container > * {
    margin: .2rem;
}
/* header 1 font size */
h1 {
    font-size: 3rem;
}
/* button styling */
button, #submit-button{
    align-self: center;
    width: 8rem;
    height: 1.5rem;
    border-radius: 2rem;
    margin: .2rem;
    border: none;
    color: #fff;
    background: linear-gradient(-45deg, #ddd6f3, #faaca8, #ddd6f3, #faaca8);
    background-size: 400% 400%;
    animation: gradient 20s linear infinite;
}

    /* GAME BOX CSS */
/* content container */
.game-container {
    height: 20rem;
    width: 40rem;
    border-radius: 2rem;
}
/* button styling */
.answer-choice {
    height: 4rem;
    width: 12rem;
}
/* ui container */
.ui-display {
    width: 100%;
    height: 2rem;
    padding: 0 1rem;
}
/* ui elements -- time and score */
.ui-elem {
    font-size: 1.25rem;
}
/* holds the question being asked */
.question-container {
    height: 5rem;
    width: 100%;
    padding: 0 5rem;
}

/* End Screen */
.end {
    position: absolute;
    align-self: center;
    display: flex;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(12, 0, 50, 75%);
    z-index: 999;
}
/* content container */
.end-container {
    height: 20rem;
    width: 40rem;
    border-radius: 2rem;
}
/* dark purple overlay to give the end screen more separation */
.overlay {
    background-color: rgba(12, 0, 50, 60%);
    height:100%;
    width:100%;
    border-radius: inherit;
    padding: 2rem 0;
}
/* initials input field */
.text-input {
    align-self: center;
    width: 8rem;
    height: 1.5rem;
    border-radius: 2rem;
    margin: .2rem;
}
/* holds the high score text */
#high-scoreEl {
    margin: 0 3rem;
}

/* temp classes */
/* hide element */
.hide {
    display: none;
}
/* show element */
.show {
    display: show;
    animation: show 2s ease;
}
/* class that activates animation */
.flash-red {
animation: flashRed 2s ease-out;
}
/* temporary user feedback -- -5 seconds */
.flash-red::after {
    position: relative;
    right: 65%;
    top: 50%;
    opacity: 100%;
    content: '-5 seconds';
    color: red;
    animation: disappear 2s ease-out;
}
/* class that activates animation */
.flash-green {
    animation: flashGreen 2s ease-out;
}

/* animation css */
/* fade-in */
@keyframes show {
    from {opacity: 0%}
    to {opacity: 100%;}
}
/* fade-out */
@keyframes disappear {
    from {opacity: 100%;}
    to {opacity: 0%;}
}
/* flash red on wrong */
@keyframes flashRed {
    from {color: red;}
    to {color: #fff;}
}
/* flash green on correct */
@keyframes flashGreen {
    from {color: lightgreen;}
    to {color: #fff;}
}
/* background gradient scroll */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}