@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;600&display=swap');
:root {
    background-color: #000;
    color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    height: 100vh;
}

.align-center {
    align-self: center;
}
 
.align-items-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: start;
}

.justify-center {
    justify-content: center;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-between {
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.wrap {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.box-shadow {
    box-shadow: 0rem 0rem 10rem rgba(12, 0, 50, 75%);
}

.bg-gradient {
    background: linear-gradient(-45deg, #42275a, #734b6d, #bdc3c7, #2c3e50);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

.page-container {
    height: 18rem;
    width: 18rem;
    align-content: center;
    margin: auto;
    border-radius: 3rem;
}

.page-container > * {
    margin: .2rem;
}

h1 {
    font-size: 3rem;
}

button {
    width: 8rem;
    height: 1.5rem;
    border-radius: 2rem;
    margin: .2rem;
    border: none;
    color: #fff;
    background: linear-gradient(-45deg, #ddd6f3, #faaca8, #ddd6f3, #faaca8);
    background-size: 400% 400%;
    animation: gradient 20s linear infinite;
}


/* GAME BOX CSS */

.game-container {
    height: 20rem;
    width: 40rem;
    border-radius: 2rem;
}

.answer-choice {
    height: 4rem;
    width: 12rem;
}

.ui-display {
    width: 100%;
    height: 2rem;
    padding: 0 1rem;
}

/* #ui-time-reamining::after {
    content: " seconds left";
    font-size: .75rem;
}

#ui-question-progress::after {
    content: "/[total questions]";
    font-size: .75rem;
} */

.question-container {
    height: 5rem;
    width: 100%;
    padding: 0 5rem;
}

/* High Scores */
.highscore-container {
    padding: 2rem 0;
}

.highscore-header {
    font-size: 2.5rem;
}

li {
    list-style: decimal;
    margin: .25rem 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}